<h1>Editing Coaching Activity</h1>

<%= render 'form', coaching_activity: @coaching_activity %>

<%= link_to 'Show', institution_coaching_activity_path(@institution, @coaching_activity) %> |
<%= link_to 'Back', :back %>
