<h1>Editing Facilitator</h1>

<%= render 'form', facilitator: @facilitator %>

<%= link_to 'Show', institution_coaching_activity_facilitator_path(@institution, @coaching_activity, @facilitator) %> |
<%= link_to 'Back', :back %>
