<h1>Olá, <%= @sponsor.name %></h1>
<p> Obrigado por se juntar ao time a luta contra o analfabetismo.</p>
<p> Você foi registrado no nosso sistema como um patrocinador, e agora estamos enviando nosso logo para você poder usar e mostrar que é uma empresa que luta contra o analfabetismo.</p>
<p> A partir de agora, você ficará recebendo notícias sobre as atividades que estamos realizando para erradicar o analfabetismo.</p>
<p> Obrigado, </p>
<p> Equipe IBRAEMA. </p>
<%= image_tag attachments['ibraema_logo.jpg'].url %>