<p id="notice"><%= notice %></p>

<h1>Emails</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= link_to email.subject, email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email', new_email_path %>
