<h1>Olá, <%= @donor.name %></h1>
<p> Obrigado por se juntar ao time a luta contra o analfabetismo.</p>
<p> A partir de agora, você ficará recebendo notícias sobre as atividades que estamos realizando para erradicar o analfabetismo.</p>
<p> Obrigado, </p>
<p> Equipe IBRAEMA. </p>