<!DOCTYPE html>
<html>
  <head>
    <title>Ibraema</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <div id="header">
        <div id="nav-bar">
          <a class="nav-item" href="/articles">Articles</a>
          <a class="nav-item" href="/books">Books</a>
          <a class="nav-item" href="/coaching_activities">CoachingActivities</a>
          <a class="nav-item" href="/companies">Companies</a>
          <a class="nav-item" href="/donations">Donations</a>
          <a class="nav-item" href="/emails">Emails</a>
          <a class="nav-item" href="/facilitators">Facilitators</a>
          <a class="nav-item" href="/institutions">Institutions</a>
          <a class="nav-item" href="/people">People</a>
          <a class="nav-item" href="/users">Users</a>
        </div>
      </div>
      <div id="content"><%= yield %></div>
      <div id="footer"></div>
    </div>
  </body>
</html>
